@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Current Email</label>
                <div class="input-group">
                    <input asp-for="Email" class="form-control" disabled />
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group-append">
                            <span class="input-group-text text-success" style="height: 100%;">
                                <i class="fas fa-check-circle"></i>
                            </span>
                        </div>
                    }
                </div>
                @if (!Model.IsEmailConfirmed)
                {
                    <div class="mt-2">
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-primary btn-sm">
                            <i class="fas fa-envelope me-2"></i>Send verification email
                        </button>
                    </div>
                }
            </div>
            
            <div class="mb-3">
                <label asp-for="Input.NewEmail" class="form-label">New Email</label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">
                <i class="fas fa-save me-2"></i>Change email
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
